<form class="ui equal width form" action="/dashboard/addstation" method="POST">
 <div class="fields">
   <div class="field">
    <label class="ui inverted orange label">Title</label>
    <input placeholder="Title" type="text" name="title">
  </div>
  <div class="field">
    <label class="ui inverted orange label">Latitude</label>
    <input placeholder="Latitude" type="text" name="latitude">
  </div>
  <div class="field">
    <label class="ui inverted orange label">Longitude</label>
    <input placeholder="Longitude" type="text" name="longitude">
  </div>
  </div>  
  <button class="ui orange submit button">Add Station</button>
</form>