{{> menu id="about"}}

<section class="ui center aligned two column middle aligned inverted blue grid segment">
  <div class="column">
    <h1 class="ui inverted header"> WeatherTop Version 2 </h1>
    <h3> All your forecasting needs. All in one convenient place </h3>
  </div>
  <div class="column">
    <img class="ui image" src="https://cdn.glitch.global/d38ef8d6-c54a-43d6-8d44-3af5300fac2b/weather-animated-icons.gif?v=1662021379552">
  </div>
</section>